{% extends '@admin/layout.twig' %}

{% block title "Créer un article" %}

{% block body %}
    <h1>Créer <u></u>n article</h1>

    <form action="{{ path('blog.admin.create') }}" method="post">
        {% include '@blog/admin/form.twig' %}
        <button class="btn btn-primary" type="submit">Créer</button>
    </form>
{% endblock %}